﻿@{
    Layout = "/Areas/Identity/Pages/_EmptyLayout.cshtml";
}
    <div class="container" style="margin-top:15vh">
            <h1>Manage your account</h1>

            <div>
                <hr /> 
                <div class="row">
                    <div class="col-md-3">
                        <partial name="_ManageNav" />
                    </div>
                    <div class="col-md-9">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
@section Scripts {
    @RenderSection("Scripts", required: false)
}
