﻿@page
@model ReportsModel
@{
}
	<head>
		<link href="~/css/UserPersonalPage.css" rel="stylesheet" />
	</head>
<div class="row">
	<div class="col-md-12">
		<table class="table table-striped mydisabled">
			<thead>
				<tr>
					
					<th width="35%">
						Title
					</th>
					<th width="15%">
						Industry
					</th>
					<th width="25%">
						Tags
					</th>
					<th width="25%"></th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model.Reports)
				{
					<tr>
						<td>
							<div class="title">
								@item.Name
							</div>
						</td>
						<td>
							@item.Industry

						</td>
						<td>
							<ul class="tags">
								@foreach (var tag in item.Tags)
								{
									<li class="tag">@tag</li>
								}
							</ul>
						</td>
						<td>
							<div class="d-inline-flex">
								@if (User.IsInRole("Author"))
								{
									<a asp-area="Author" asp-controller="Reports" asp-action="Edit" asp-route-reportId="@item.Id" class="genric-btn success-border circle">Edit</a>
								}
							
								<a asp-area=""  asp-controller="Blobs" asp-action="GetBlob" asp-route-reportId="@item.Id"
									 target ="_blank" class="genric-btn default-border circle rp-download"><i class="fa fa-download download-icon"></i></a>
								
							</div>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>