﻿@model InsightHub.Web.Models.ReportModels.ReportDetailsVM;
@{
    ViewData["Title"] = "InsightHub | " + Model.Name;
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
}
    <head>
        <link href="~/css/report-details.css" rel="stylesheet" />
    </head>
<div class="container-fluid rd-container">
    <div class="row">
        <div class="col-12 d-flex">
            <div class="col-xl-3">
                <div class="rd-report-image-container">
                    <div class="rd-report-image" style="background-image: url('../img/reports/@Model.ImagePath')"></div>
                </div>
            </div>
            <div class="col-xl-9">
                <div class="rd-title-container">
                    <span class="rd-title">@Model.Name</span>
                </div>
                <div class="rd-tag-date">
                    <div class="rd-tags">
                        @foreach (var tag in Model.Tags)
                        {
                            <a asp-action="Index" asp-route-searchCriteria="tag"
                               asp-route-searchString="@tag" asp-route-currentPage="1" class="rp-tags">@tag</a>
                        }
                    </div>
                    <div class="rd-date">
                        <span>@Model.CreatedOn.ToString("d MMMM yyyy")</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 d-flex">
            <div class="col-xl-3">
                <div class="rp-author-section">
                    <h3>Author</h3>
                    <div class="single_service text-center rd-author-container">
                        <a asp-controller="Authors" asp-action="Details" asp-route-UserId="@Model.AuthorId" asp-route-SearchString="@Model.Author">
                            <div class="rd-author-image" style="background-image: url('/img/team/@Model.AuthorPhoto');"></div>
                            <p>@Model.Author</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-9">
                <div class="rd-content">
                    <p>@Model.Description</p>
                </div>
                @if(!User.IsInRole("Admin"))
                {
                    <div class="rd-button-holder">
                        <a asp-controller="Blobs" asp-action="GetBlob" asp-route-reportId="@Model.Id" target="_blank"
                           class="btn genric-btn info">Download</a>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="offset-3 rd-related-container">
                @foreach (var report in Model.RelatedReports)
                {
                    
                <a asp-action="Details" asp-route-reportId="@report.Id" class="rd-related-report">
                    <div class="rd-related-fix-container">
                        <div class="rd-related-report-image" style="background-image:url('../img/reports/@report.ImagePath')">
                        </div>
                        <span class="rd-related-title">@report.Name</span>
                    </div>
                </a>
                }
            </div>
        </div>
    </div>
</div>
