﻿@{
    Layout = "_Layout";
}
@model ReportQueryVM
<head>
    <link href="~/css/report-page.css" rel="stylesheet" />
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <title>InsightHub Reports</title>
</head>

<body>
    @{
        string className = "no-industry";
        if (@Model.Industry != null)
        {
            var classNameArr = @Model.Industry.Split(' ');
            className = string.Join('-', classNameArr);

        }
    }
    <div class="bradcam_area bradcam_bg_1 @className">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text rp-industry">
                        <h3>@Model.Industry</h3>
                        @if (User.IsInRole("Client") && Model.Industry != null)
                        {
                            ;<div class="video_service_btn mt-5">
                                <a class="boxed-btn3" id="sub-button" data-value="@Model.Industry">Subscribe</a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--main area starts-->
    <section class="rp-search">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <form asp-action="Index" class="d-flex form-inline align-content-center justify-content-between">
                        <div class="d-flex">
                            <div class="form-group mx-sm-3 mb-2">
                                <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect">Preference</label>
                                <select class="form-control" asp-for="SearchCriteria" asp-items="Model.SearchDropdown">
                                    <option selected value="">Filter By</option>
                                </select>
                            </div>
                            <div class="form-group mx-sm-3 mb-2">
                                <input class="form-control" id="searchString" placeholder="Type here" asp-for="SearchString" value="@Model.SearchString">
                            </div>
                            <input type="hidden" asp-for="Industry" value="@Model.Industry" />
                            <button type="submit" asp-route-currentPage="1" asp-route-industry="@Model.Industry" class="mb-2 genric-btn info circle">Get results</button>
                        </div>
                        <div class="d-flex">
                            <div class="form-group mx-sm-3 mb-2">
                                <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect">Preference</label>
                                <select class="form-control" asp-for="SortString" asp-items="Model.SortDropdown" onchange="this.form.submit()">
                                    <option selected value="">Sort By</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section class="rp-main">

        <div class="container">
            <div class="row">
                @foreach (var report in Model.Reports)
				{
                    string isFeatured = report.IsFeatured ? "Unfeature" : "Feature";
					
                    <div class="d-flex col-12 rp-card">
                        <div class="col-4 rp-img-container">
                            <div class="rp-img" style="background-image:url('../img/reports/@report.ImagePath');">
                            </div>
                        </div>
                        <div class="d-flex flex-column col-6">
                            <p class="rp-title"><a asp-action="Details" asp-route-reportId="@report.Id">@report.Name</a></p>
                            <div class="pb-2 d-flex justify-content-between">
                                <div>
                                    @foreach (var tag in report.Tags)
                                    {
                                        <a asp-action="Index" asp-route-industry="@Model.Industry" asp-route-searchCriteria="tag"
                                           asp-route-searchString="@tag" asp-route-currentPage="1" class="rp-tags">@tag</a>
                                    }
                                </div>
                                <span class="rp-date">@report.CreatedOn.ToString("d MMMM yyyy")</span>
                            </div>
                            <q class="rp-quote">@report.Description</q> <br>
                            <div class="test d-flex">
                                <a class="rp-author" asp-controller="Authors" asp-action="Details"
                                   asp-route-searchString="@report.Author" asp-route-currentPage="1" asp-route-userId="@report.AuthorId">@report.Author</a>
                                <p class="rp-downloads">Downloaded @report.Downloads times.</p>
                            </div>
                        </div>
                        <div class="rp-button-holder d-flex flex-column col-2">
                            <a asp-action="Details" asp-route-reportId="@report.Id" class="btn genric-btn circle rp-button rp-button-details">Read more</a>
                            @if (!User.IsInRole("Author") && !User.IsInRole("Admin"))
                            {
                                <a asp-controller="Blobs" asp-action="GetBlob" asp-route-reportId="@report.Id" target="_blank"
                                   class="btn genric-btn circle rp-button rp-button-download">Download</a>
                            }
                            @if (User.IsInRole("Admin"))
                            {
                                <a asp-area="Author" asp-controller="Reports" asp-action="Edit" asp-route-reportId="@report.Id"
                                   class="btn genric-btn circle rp-button rp-button-update">Update</a>
                                <a data-value="@report.Id" id="@report.Id"
                                   class="btn genric-btn circle rp-button rp-button-feature">@isFeatured</a>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="rp-pagination">
            @if (Model.CurrentPage != 1)
            {
                <a asp-action="Index" asp-route-currentPage=@(Model.CurrentPage - 1)
                   asp-route-searchCriteria=@(Model.SearchCriteria)
                   asp-route-searchString=@(Model.SearchString)
                   asp-route-sortString=@(Model.SortString )
                   asp-route-industry=@(Model.Industry) class="btn genric-btn circle">Previous</a>
            }

            @if ((Model.TotalPages - Model.CurrentPage) > 0)
            {
                <a asp-action="Index" asp-route-currentPage=@(Model.CurrentPage + 1)
                   asp-route-searchCriteria=@(Model.SearchCriteria)
                   asp-route-searchString=@(Model.SearchString)
                   asp-route-sortString=@(Model.SortString)
                   asp-route-industry=@(Model.Industry) class="btn genric-btn circle">Next</a>
            }

        </div>

    </section>
    <!--main area ends-->

</body>
<script src="~/js/vendor/jquery-1.12.4.min.js"></script>
<script>
    let industry = "@Model.Industry";
    console.log(industry);
    $.ajax({
        url: '/Users/CheckSubscription/',
        type: 'GET',
        data: { 'industry': industry },
        success: function (data) {
            if (data == true) {
                $('#sub-button').attr('id', 'unsub');
                $('#unsub').html("Unsubscribe")
            }
            else {
                $('#sub-button').attr('id', 'sub');
                $('#sub').html("Subscribe")
            }
        }
    });
</script>
<script>
    if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href);
    }
</script>
<script src="~/js/truncate-text.js"></script>
<script src="~/js/sub-unsub.js"></script>
<script src="~/js/featureReport.js"></script>
