﻿@model InsightHub.Web.Areas.Author.Models.UpdateReportVM

@{
    Layout = "_EmptyLayout";
}
@{
    ViewData["Title"] = "Update Report";
    var state = User.IsInRole("Admin") ? "hidden" : "";
    var role = User.IsInRole("Admin") ? "admin" : "author";
}
<head>
    <link href="~/css/create-report.css" rel="stylesheet" />
</head>
<div class="container cr-container">
    <div class="row">
        <div class="col-12">
            <div class="cr-form">
                <div class="info-text">
                    <h3>Please use the form below to update @Model.Name !</h3>
                    @if (User.IsInRole("Author"))
                    {
                     <p>Please note that if you change the content of the report, it must be approved by the admin</p>
                    }
                </div>
                <div class="cr-fields">
                    <form asp-area="Author" asp-controller="Reports" asp-action="Edit" asp-route-url="@role" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <input hidden asp-for="Id" class="form-control" />
                        </div>
                        <div @state class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input required asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="IndustryId" class="control-label"></label>
                            <select required asp-for="IndustryId" asp-items="ViewBag.IndustryId" class="form-control">
                                <option value="">Please choose an industry</option>
                            </select>
                            <span asp-validation-for="IndustryId" class="text-danger"></span>
                        </div>
                        <div @state class="form-group">
                            <label asp-for="Summary" class="control-label"></label>
                            <textarea required asp-for="Summary" class="form-control"></textarea>
                            <span asp-validation-for="Summary" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Tags" class="control-label"></label>
                            <input id="tags" asp-for="Tags" class="form-control" />
                            <span asp-validation-for="Tags" class="text-danger"></span>
                        </div>
                        <div @state class="custom-file cr-upload">
                            <input asp-for="Content" accept="application/pdf" type="file" class="custom-file-input" id="customFile">
                            <label class="custom-file-label" for="customFile">Choose report file in PDF</label>
                            <span asp-validation-for="Content" class="text-danger"></span>
                        </div>
                        <div @state class="custom-file cr-upload">
                            <input asp-for="Photo" accept="image/png, image/jpeg, image/jpg, image/bmp"
                                   type="file" class="custom-file-input" id="customFile">
                            <label class="custom-file-label" for="customFile">Choose report image </label>
                            <span asp-validation-for="Photo" class="text-danger"></span>
                        </div>
                        <div class="d-flex justify-content-center">
                            <div class="form-group cr-button">
                                <input type="submit" value="Edit" class="btn genric-btn info circle" />
                            </div>
                            <div class="form-group">
                                <button type="button" class="btn genric-btn danger circle cr-button" data-toggle="modal" data-target="#exampleModal">
                                    Delete
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirm deletion</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you certain you want to delete this report?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn genric-btn btn-secondary circle cr-button" data-dismiss="modal">Close</button>
                <a asp-action="Delete" asp-route-reportId="@Model.Id" asp-route-url="@role" class="btn genric-btn danger circle cr-button">Confirm</a>
            </div>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="copy-right_text">
        <div class="container">
            <div class="footer_border"></div>
            <div class="row">
                <div class="col-xl-12">
                    <p class="copy_right text-center">
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved |  Team 10  by <a href="https://gitlab.com/dimitar_grozev">Mitko</a> & <a href="https://gitlab.com/mdotgeorgieva">Mimi</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>

@section Scripts {
    <!-- jQuery CDN  -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT"
            crossorigin="anonymous">
    </script>
    <!-- Amsify Plugin -->
    <link rel="stylesheet" href="/css/amsify.suggestags.css">
    <script src="/js/jquery.amsify.suggestags.js"></script>
    <script>
        // Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>
    <script src="~/js/tags.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


