﻿
@model PendingVM
<!doctype html>
<html class="no-js" lang="zxx">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Pending</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="~/css/AdminPanelPending.css" rel="stylesheet"/>

</head>

<body>
	<!--[if lte IE 9]>
			<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
		<![endif]-->
	<!-- header-start -->
	<!-- header-end -->
	<div class="container heading">
		<div class="row">
			<div class="col-md-6">
				<h1 class="title">
					<br />
					Manage pending entities
				</h1>
				<div class="mycheckbox">
					<input id="my-checkbox" onchange="addremove()" type="checkbox" data-toggle="switch" data-on-color="secondary" data-on-text="Reports" data-off-color="default" data-off-text="Users" class="toggle">
				</div>
			</div>
		</div>

	</div>
	<div class="container">
		<hr />

		<div class="row">
			<h5 class="myactive">Pending users</h5>
			<table class="table table-striped myactive">
				<thead>
					<tr>
						<th width="20%">Email </th>
						<th width="25%"> Full name</th>
						<th width="15%"> Role</th>
						<th width="25%"></th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model.Users)
					{
						<tr>
							<td>
								@item.Username
							</td>

							<td>
								@item.FullName

							</td>
							<td>
								@item.Role
							</td>
							<td>
								<a asp-area="Admin" asp-controller="Users" asp-action="ApproveUser" asp-route-userId="@item.Id" class="genric-btn success-border circle">Approve</a>
								<a asp-area="Admin" asp-controller="Users" asp-action="RefuseUser" asp-route-userId="@item.Id" class="genric-btn  danger-border circle">Refuse</a>

							</td>
						</tr>
					}
				</tbody>
			</table>
			<br />
			<h5 class="mydisabled">Pending reports</h5>
			<table class="table table-striped mydisabled">
				<thead>
					<tr>

						<th width="15%">
							Title
						</th>
						<th width="15%">
							Author
						</th>
						<th width="15%">
							Industry
						</th>
						<th width="15%">
							Tags
						</th>
						<th width="30%"></th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model.Reports)
					{
						<tr>
							<td>
								@item.Name
							</td>
							<td>
								@item.Author

							</td>
							<td>
								@item.Industry

							</td>
							<td>
								<ul class="tags">
									@foreach (var tag in item.Tags)
									{
										<li class="tag">@tag</li>
									}
								</ul>
							</td>
							<td>
								<div class="d-flex justify-content-between">
									<a asp-area="Admin" asp-controller="Reports" asp-action="ApproveReport" asp-route-reportId="@item.Id" class="genric-btn success-border circle">Approve</a>
									<a asp-area="Author" asp-controller="Reports" asp-action="Edit" asp-route-reportId="@item.Id" class="genric-btn primary-border circle">Edit</a>


									<a asp-area="Admin" asp-controller="Reports" asp-action="RefuseReport" asp-route-reportId="@item.Id" class="genric-btn  danger-border circle">Refuse</a>
									<a asp-area="" asp-controller="Blobs" asp-action="GetBlob" asp-route-reportId="@item.Id"
									   target="_blank" class="genric-btn default-border circle rp-download"><i class="fa fa-download download-icon"></i></a>
								</div>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>




</body>

</html>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/bootstrap-switch.js"></script>
<script>
	$("#my-checkbox").bootstrapSwitch();
</script>
<script>
	$(document).ready(function () {
		console.log("in");
		$('.mydisabled').hide(); //enter the class or id of the particular html element which you wish to hide.
	});
</script>
<script>
	function addremove() {

		var atLeastOneIsChecked = $('#my-checkbox:checked').length > 0;
		console.log(atLeastOneIsChecked);
		if (atLeastOneIsChecked) {
			$(".myactive").hide();
			$(".mydisabled").show();
		}
		else {
			$(".myactive").show();
			$(".mydisabled").hide();

		}
	}
</script>