﻿@{
    Layout = "_EmptyLayout";
}
@model ICollection<AuthorVM>
<!doctype html>
<head>
    <link href="~/css/AuthorsPage.css" rel="stylesheet" />

</head>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>InsightHub | Authors</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">


</head>

<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->
    <!-- header-start -->
    <!-- header-end -->
            <div class="service_area">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="section_title text-center mb-50">
                                <h3>Our Authors</h3>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        @foreach (var author in Model)
                        {

                            <div class="col-xl-4 col-md-6 col-lg-4">
                                <div class="single_service text-center">
                                    <div class="authors" style="background-image: url('/img/team/@author.ImagePath');">
                                    </div>
                                    <h3>@author.Fullname</h3>

                                    <div class="description">
                                        <p class="text">@author.Bio</p>
                                        <span class="tooltiptext">@author.Bio</span>
                                    </div>
                                    <a asp-controller="Authors" asp-action="Details" asp-route-searchString="@author.Fullname" asp-route-currentPage="1" asp-route-userId="@author.Id">Reports</a>

                                </div>
                            </div>
                        }


                    </div>
                </div>
            </div>

        <script src="~/js/vendor/jquery-1.12.4.min.js"></script>
        <script src="~/js/truncate1-text1.js"></script>
</body>

</html>
