﻿@import "varriable";

.cr-container {
    margin-top: 90px;
    justify-content: center;

    .cr-form {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 2rem 0;
        text-align: center;

        .info-text{
            margin-bottom: 0.8rem;
            p {
                font-size: 0.8rem;
            }
        }


        .cr-fields {
            text-align: left;
            max-width: $form_max_width;
            margin: 0 auto;

            label {
                font-size: 16px;
            }

            .cr-upload {
                margin: 0.8rem 0;
            }
        }

        .cr-button{
            display:flex;
            justify-content:center;
            margin-top: 1.8rem;
            margin-right: 1rem;
            min-width: 100px;

            input{
                min-width: 100px;
            }
        }
    }
}