﻿@import "varriable";

body {
    background-color: #f2f2f2;
}

.col-xl-9{
    padding-right: 30px;
}

.rd-container {
    width: 1680px;
    background-color:white;
    margin: 8rem auto 3rem auto;
    padding: 2rem 4.5rem;
    border-radius:5px;
}

.rd-report-image-container {
    margin:0 auto;
    height: 180px;
    width: 85%;
    border-radius: 16px;
    overflow: hidden;


    .rd-report-image {
        height: 180px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        transition: transform .5s;
    }

    .rd-report-image:hover {
        transform: scale(1.1);
    }
}

.rd-title-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 2px solid #91919142;
    min-height: 146px;

    .rd-title {
        font-size: 2.5rem;
    }
}

.rd-tag-date {
    display: flex;
    justify-content: space-between;
    margin-top:1rem;

    .rd-tags {
        .rp-tags {
            background: #fff;
            border: 1px solid #ced4da;
            border-radius: 6px;
            text-align: center;
            vertical-align: middle;
            font-size: 14px;
            text-transform: lowercase;
            line-height: 14px;
            color: black;
            display: inline-block;
            height: 24px;
            padding: 4px 12px 0 12px;
            position: relative;
            margin: 0 0.4rem 0 0;
            text-decoration: none;
        }

        .rp-tags:hover {
            background-color: #454654;
            color: white;
        }

        .rp-tags:hover::after {
            border-left-color: #454654;
        }
    }

    .rd-date {
        font-size: 14px;
        font-style: italic;
    }
}

.rp-author-section {
    margin: 5rem auto;

    h3 {
        text-align: center;
    }

    .rd-author-container {
        margin: 1rem auto;
        padding: 1rem 0 2rem 0;
        max-width: 60%;
        border: 1px solid $report_card_border;
        border-radius: 10px;
        box-shadow: 7px -5px 13px 2px rgba(0, 0, 0, 0.03);

        .rd-author-image {
            margin: 1rem auto;
            height: 125px;
            width: 125px;
            border-radius: 50%;
            overflow: hidden;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;

        }
        p{
            font-size: 20px;
            font-weight:500;
        }
    }
}

.rd-content {
    margin: 4rem 0;

    p {
        font-size: 18px;
        line-height: 1.8;
    }
}

.rd-button-holder {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 2rem;
    border-bottom: 2px solid #91919142;

    a {
        font-size: 20px;
        padding: 6px 20px;
        border-radius: 30px;
    }
}

.rd-related-container {
    display: flex;
    justify-content: space-around;
    padding: 2rem 0;

    .rd-related-report {
        height: 180px;
        width: 300px;

        .rd-related-fix-container {
            position: relative;
            overflow: hidden;
            border-radius: 16px;
            max-height: 180px;

            .rd-related-report-image:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                z-index: 1;
                background: rgba(0, 0, 0, .3);
            }

            .rd-related-report-image {
                height: 180px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                transition: transform .5s;
            }

            .rd-related-report-image:hover {
                transform: scale(1.1);
            }

            .rd-related-title {
                color: white;
                position: absolute;
                right: 18px;
                bottom: 13px;
                text-align: right;
                z-index:2;
            }
        }
    }
}



