﻿.profile-picture {
	background-size: cover;
	background-repeat: no-repeat;
	width: 125px;
	height: 125px;
	border-radius: 50%;
	transition: transform .5s;
	margin:2rem auto;
}

.my-custom{
	margin-top:1rem;
}
.my-col {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.save-btn{
	margin: 1rem auto;
}

.my-form {
	width: 100%
}

.author-bio textarea{
	min-height:255px;
}