﻿body {
	background-color: #ffffff;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='2000' height='2000' viewBox='0 0 200 200'%3E%3Cpolygon fill='%23f5faff' fill-opacity='0.88' points='100 0 0 100 100 100 100 200 200 100 200 0'/%3E%3C/svg%3E");
	background-attachment:fixed;
}
.carousel-item::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 1;
	background: rgba(0, 0, 0, .5);
}

.carousel-item {
	height: 600px;
}

.carousel-item h5{
	color:white;
	font-size: 40px;

}

.wrapper{
	
	margin:0 auto;
	width:50%;
}
.divider {
	position: relative;
	margin-top: 90px;
	height: 1px;
}

.div-transparent:before {
	content: "";
	position: absolute;
	top: 0;
	left: 5%;
	right: 5%;
	width: 90%;
	height: 1px;
	background-image: linear-gradient(to right, transparent,rgb(205, 207, 212), transparent);
}

.slider_area .single_slider .slider_text h3 {
	font-size: 76px;
	line-height: 1.3;
}

.author-photo {
	width: 350px;
	height: 386px;
	transition: transform .5s;
	background-size:cover;
}

	.author-photo:hover {
		transform: scale(1.1);
	}

.home-report-img {
	width: 100%;
	height: 233px;
	transition: transform .5s;
	background-size: cover;
}
.home-report-img:hover {
	transform: scale(1.1);
}

.blog_item_img{
	overflow:hidden;
}

.mycontainer{
	max-width:1440px;
}

.home-info {
	display: flex;
	flex-direction: column;
	width: 65%;
	margin:4rem auto;
	padding:60px 0;
	/*border-bottom:1px inset gray;*/
}

.home-info-description p{
	padding-top:25px;
	line-height:1.8;
	font-size:22px;
	font-weight:300;
	text-align:left;
}

.rp-quote {
	font-size: 20px;
	font-weight: 300;
	line-height: 1.6;
}
.home-rp-title{
	font-size:28px;
	line-height:1.4;
}
.home-report-details {
	padding: 40px 30px 35px 35px;
}

.ourservice_area{
	padding-bottom:70px;
}
