﻿.picture {
	display: flex;
	width:880px;
	height:880px;
	background-image: url('../img/svg_icon/404 error-rafiki.svg');
}

.forbidden {
	display: flex;
	margin-top: 5rem;
	width: 880px;
	height: 820px;
	background-repeat:no-repeat;
	background-size:cover;
	background-image: url('../img/svg_icon/403_error_forbidden_1.svg');
}
	