﻿@import url("https://fonts.googleapis.com/css?family=Poppins:200,200i,300,300i,400,400i,500,500i,600,600i,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:200,200i,300,300i,400,400i,500,500i,600,600i,700&display=swap");

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-family: "Poppins", sans-serif;
}
body {
	background-image: linear-gradient(120deg,#2c3e50,#2980b9);
}
#backbutton{
	color:white;
	font-size:50px;
	border-radius:50%;
	position:absolute;
	top:20px;
	left:40px;
}
#backbutton:hover{
	cursor:pointer;
}
.login-form{
	width:400px;
	background:#f1f1f1;
	height:840px;
	padding:50px 40px;
	border-radius:10px;
	position:absolute;
	left:40%;
	top:7%;
}
.login-form h1{
	text-align:center;
	padding-bottom:10px;
}
input{
	border-radius:0px !important;
	border:none !important;
	background:none !important;
	border-bottom:2px solid gray !important;
	margin-bottom:10px !important;
}
#registerbtn {
	display: block;
	width: 100%;
	height: 30px;
	border: none;
	text-align: center;
	margin-top: 20px;
	background: linear-gradient(120deg,#2980b9,#2c3e50);
	color: white;
	border-radius: 20px;
}

.mycheckbox {
	
	margin-bottom: 20px;
	margin-left:80px;
}

textarea{
	font-size:20px;
}

.bottom-text{
	margin-top:4px;
	text-align:center;
}