﻿@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Poppins:200,200i,300,300i,400,400i,500,500i,600,600i,700&display=swap");
.rp-industry h3 {
  color: #e9edf0;
}
.no-industry {
    background-image: url('../img/report-page/no-industry.jpg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
.information-technology {
  background-image: url(../img/report-page/computer-science.jpg);
}

.healthcare {
  background-image: url(../img/report-page/health-care.jpg);
}

.energy {
  background-image: url(../img/report-page/energy.jpg);
}

.marketing {
    background-image: url('../img/report-page/markeing.jpg');
}

.finance {
    background-image: url('../img/report-page/finance.jpg');
}

#unsub {
    background: #354a64;
    border: 1px solid #94a9c1;
}

.rp-search {
  padding: 2rem;
  background-color: #e9edf0;
  border-bottom: 0.1rem inset #ced4da;
}

.rp-main {
  background-color: #e9edf0;
  padding: 2rem;
}

.rp-card {
  background-color: #fafafa;
  padding: 2rem;
  margin: 1.5rem;
  border: 2px solid #ced4da;
  border-radius: 30px;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.03);
}
.rp-img-container {
    overflow: hidden;
    border-radius: 16px;
    width: 311px;
    height: 285px;
    margin-right: 1rem;
    padding : 0;
}
.rp-card .rp-img {
    height: 285px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    transition: transform .5s;
}

        .rp-card .rp-img:hover {
            transform: scale(1.1);
        }
.rp-card .rp-title {
  font-size: 1.35rem;
  line-height: 1.5;
  font-weight: 700;
}
.rp-card .rp-summary {
  text-align: left;
}
.rp-card .rp-tags {
  background: #fff;
  border: 1px solid #ced4da;
  border-radius: 6px;
  text-align: center;
  vertical-align: middle;
  font-size: 14px;
  text-transform: lowercase;
  line-height: 14px;
  color: black;
  display: inline-block;
  height: 24px;
  padding: 4px 12px 0 12px;
  position: relative;
  margin: 0 0.4rem 0 0;
  text-decoration: none;
}
.rp-card .rp-tags:hover {
  background-color: #454654;
  color: white;
}
.rp-card .rp-tags:hover::after {
  border-left-color: #454654;
}
.rp-date{
    font-size:14px;
    font-style:italic;
}
.rp-quote {
    padding: 2px;
    quotes: "“" "”" "‘" "’";
}

.test {
  margin-top: auto;
  justify-content: flex-end;
}

.rp-author {
  font-style: italic;
  padding-top: 0.5rem;
  color: black;
  font-weight: 500;
}

.rp-downloads {
  padding-top: 0.5rem;
  align-content: flex-end;
  margin-left: auto;
}

.col-6 {
  padding-right: 35px;
}

.rp-button-holder {
  margin: 0 auto;
  justify-content: center;
  border-left: 2px solid #ced4da;
  padding-left: 35px;
}
.rp-button-holder .rp-button {
  min-width: 114px;
}
.rp-button-holder .rp-button-details {
  background-color: transparent;
  border: 2px solid #ced4da;
  color: #545454;
  margin-bottom: 0.8rem;
}
.rp-button-holder .rp-button-details:hover {
  background-color: #dcdcdc;
}
.rp-button-holder .rp-button-download,
.rp-button-holder .rp-button-update,
.rp-button-holder .rp-button-feature {
  background-color: #41566d;
  color: #fafafa !important;
  margin-bottom: 0.8rem;
}
.rp-button-holder .rp-button-download:hover,
.rp-button-holder .rp-button-update:hover,
.rp-button-holder .rp-button-feature:hover {
  background-color: #303744;
  color: #e9edf0;
}

.rp-pagination {
  display: flex;
  justify-content: center;
}
.rp-pagination a {
  border: 1px solid #ced4da;
  background-color: #fafafa;
  min-width: 100px;
}
.rp-pagination a:first-child {
  margin-right: 1rem;
}