﻿<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link href="~/css/style.css" rel="stylesheet" />
	<link href="~/css/bootstrap.min.css" rel="stylesheet" />
	<link href="~/css/slick.css" rel="stylesheet" />
	<link href="~/css/theme-default.css" rel="stylesheet" />
	<link href="~/css/themify-icons.css" rel="stylesheet" />
	<link href="~/css/bootstrap-switch.css" rel="stylesheet" />
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">


</head>
<body>
    <header>
        <div class="header-area ">
            <div id="sticky-header" class="main-header-area details_nav">
                <div class="container">
                    <div class="header_bottom_border">
                        <div class="row align-items-center">
                            <div class="col-xl-3 col-lg-2">
                                <div class="logo navbar-brand">
                                    <a id="mainlogo" asp-area="" asp-controller="Home" asp-action="Index">
                                        InsightHub.
                                    </a>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-7">
                                <div class="main-menu  d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">
                                            <li>
                                                <a href="#">reports <i class="ti-angle-down"></i></a>
                                                <ul class="submenu">
                                                    <li>
                                                        <a asp-area="" asp-controller="Reports" asp-action="Index" asp-route-industry="information technology"
                                                           asp-route-currentPage="1">IT</a>
                                                    </li>
                                                    <li>
                                                        <a asp-area="" asp-controller="Reports" asp-action="Index" asp-route-industry="healthcare"
                                                           asp-route-currentPage="1">Healthcare</a>
                                                    </li>
                                                    <li>
                                                        <a asp-area="" asp-controller="Reports" asp-action="Index" asp-route-industry="energy"
                                                           asp-route-currentPage="1">Energy</a>
                                                    </li>
                                                    <li>
                                                        <a asp-area="" asp-controller="Reports" asp-action="Index" asp-route-industry="finance"
                                                           asp-route-currentPage="1">Finance</a>
                                                    </li>
                                                    <li>
                                                        <a asp-area="" asp-controller="Reports" asp-action="Index" asp-route-industry="marketing"
                                                           asp-route-currentPage="1">Marketing</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li><a asp-area="" asp-controller="Authors" asp-action="Index">Authors</a></li>
                                            <li><a asp-area="" asp-controller="Home" asp-action="About">About us</a></li>
                                            @if (User.IsInRole("Admin"))
                                            {
                                                <li>
                                                    <a href="#">Admin panel <i class="ti-angle-down"></i></a>
                                                    <ul class="submenu">
                                                        <li><a asp-area="Admin" asp-controller="Users" asp-action="Authors">Authors</a></li>
                                                        <li><a asp-area="Admin" asp-controller="Users" asp-action="Clients">Clients</a></li>
                                                        <li><a asp-area="Admin" asp-controller="Users" asp-action="Pending" id="pending">Pending</a></li>
                                                    </ul>
                                                </li>
                                            }
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                                <div class="Appointment">
                                    <div class="book_btn d-none d-lg-block">
                                        @if (!User.Identity.IsAuthenticated)
                                        {
                                            <a asp-area="Identity" asp-page="/Account/Login">Login</a>
                                            <a asp-area="Identity" asp-page="/Account/Register">Register</a>
                                        }
                                        else
                                        {
                                            <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage" id="manageprofilebtn">Manage profile</a>

                                            <form id="form1" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                                <a href="#" onclick="document.getElementById('form1').submit();">Logout</a>
                                            </form>

                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </header>
    @RenderBody()
    <!-- footer start -->
    @*<footer class="footer">
        <div class="copy-right_text">
            <div class="container">
                <div class="footer_border"></div>
                <div class="row">
                    <div class="col-xl-12">
                        <p class="copy_right text-center">
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved |  Team 10  by <a href="https://gitlab.com/dimitar_grozev">Mitko</a> & <a href="https://gitlab.com/mdotgeorgieva">Mimi</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>*@
    <!--/ footer end  -->
    <!-- JS here -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/bootstrap-switch.js"></script>
    <script src="~/js/Notifications.js"></script>
    @RenderSection("Scripts", required: false)
    @await Component.InvokeAsync("NToastNotify")
</body>
</html>
