﻿
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
}
<link href="~/css/about.css" rel="stylesheet" />
<div class="container about-container">
    <div class="row">
        <div class="col-12">
            <h1>About</h1>

            <p class="info">
                <span class="font-weight-bold">InsightHub</span> is place for everyone that needs to be in tact with the
                newest and trendiest topics in business. It’s where decision-makers meet
                researchers and forecasters and draw the information they need to shape the world we live in.
            </p>
            <h4>Meet the people behind  <span class="font-weight-bold">InsightHub</span>:</h4>
            <p class="info">
                Mimi and Mitko are two young people (one more than the other) that are passionate about
                programming and making things happen.  <span class="font-weight-bold">InsightHub</span>
                is their first joint venture but it sure felt familiar.
                For both of them  <span class="font-weight-bold">InsightHub</span> was an adventure and they surely took most of it.
                It meant two weeks of 12 hours+ morning ‘til night programming to start the race and
                another two weeks to make sure you’ll find here everything you’re looking for.
                Mitko is a university student and he’s most certainly full of enthusiasm and energy.
                He’s ready to grab any problem and rip it apart and won’t feel at ease until every last task is done.
                He needs to know the deadline, so he can make sure he’s ready at least a week before it.
                Mimi on the other hand has almost forgot what it meant to study in the university
                but she definitely remembers what’s like to study. She likes to (over)think details and
                visualize better ways to do things. She’s not intimidated by time limits or pressure and is always up for a challenge.
            </p>
            <h4>What they say about the project:</h4>
            <p class="info">
                <q class="mb-2">
                    For me  <span class="font-weight-bold">InsightHub</span> meant growing – I never knew I can participate in creating a working project
                    with such functionalities for less than a month and to feel proud about it. It felt like a game
                    where every day was a new level with a boss that we faced usually around 12 am at the night. Mitko and
                    I fought our own battles in the same war, we got our backs all the time and I can definitely say
                    that we won… big time!
                </q> 
                <cite>Mimi</cite>
                <br />
                <br />
                <q>
                     <span class="font-weight-bold">InsightHub</span> was a stepping stone for a bright future in the field of programming.
                    The project proved to me that however daunting a task may seem it can be completed when you a
                    have teammate which can lend you a helping hand. Now when I look at the finished product
                    I realize that all the restless days and nights me and Mimi spent were all worth it.
                </q>
                <cite>Mitko</cite>
            </p>
        </div>
    </div>
</div>
