﻿@{
	Layout = "_Layout";
}
@model HomePageVM
<!doctype html>
<html class="no-js" lang="zxx">
<head>
	<link href="~/css/Homepage.css" rel="stylesheet" />
</head>

<body>
	
	<div class="slider_area">
		<div class="slider_active owl-carousel">
			<div class="single_slider  d-flex align-items-center slider_bg_1 overlay2">
				<div class="container">
					<div class="row">
						<div class="col-xl-12">
							<div class="slider_text ">
								<h3 class="slogan">
									Insight<br>
									for success
								</h3>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container mycontainer">
		<div class="row">
			<div class="col-12">
				<div class="section_title text-center mb-50 home-info">
					<div class="home-info-title">
						<h3>Gain the insights, advice and tools to achieve your mission-critical priorities</h3>
					</div>
					<div class="home-info-description">
						<p>

							As disruption continues to unfold, working with InsightHub means
							anytime access to trusted management and technology advice.
							One-on-one client access by videoconference to 2,250+ InsightHub experts who have a deep understanding of your role and most critical priorities.

						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- slider_area_end -->
	<!-- service_area_start -->
	<div class="ourservice_area">
			<div class="container">
				<div class="row">
					<div class="col-xl-12">
						<div class="section_title text-center mb-50">
							<h3>Featured</h3>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xl-12">
						<div id="carouselExampleIndicators3" class="carousel slide" data-ride="carousel" data-interval="15000">
							<ol class="carousel-indicators" id="carousel-indicators3">
								<li data-target="#carouselExampleIndicators3" data-slide-to="0" class="active"></li>
								<li data-target="#carouselExampleIndicators3" data-slide-to="1"></li>
								<li data-target="#carouselExampleIndicators3" data-slide-to="2"></li>
							</ol>
							<div class="carousel-inner" id="carousel-inner3">

								@foreach (var report in Model.Featured)
								{
									<div class="carousel-item">
										<img class="d-block w-100" src='../img/reports/@report.ImagePath' id="@report.Id" data-value="../img/reports/@report.ImagePath" alt="First slide">
										<div class="carousel-caption d-none d-md-block">
											<a asp-controller="Reports" asp-action="Details" asp-route-reportId="@report.Id"> <h5>@report.Name</h5></a>
										</div>
									</div>
								}
							</div>
							<a class="carousel-control-prev" href="#carouselExampleIndicators3" role="button" data-slide="prev">
								<span class="carousel-control-prev-icon" aria-hidden="true"></span>
								<span class="sr-only">Previous</span>
							</a>
							<a class="carousel-control-next" href="#carouselExampleIndicators3" role="button" data-slide="next">
								<span class="carousel-control-next-icon" aria-hidden="true"></span>
								<span class="sr-only">Next</span>
							</a>
						</div>
					</div>
				</div>

			</div>
		</div>

	<section class="blog_area section-padding">
		<div class="container mycontainer">
			<div class="row">
				<div class="col-xl-12">
					<div class="section_title text-center mb-50">
						<h3>Popular reports</h3>
					</div>
				</div>
				@foreach (var report in Model.Popular)
				{
					<div class="col-lg-4 mb-5 mb-lg-0">
						<div class="blog_left_sidebar">

							<article class="blog_item">
								<div class="blog_item_img">
									<div style="background-image:url('../img/reports/@report.ImagePath')" class="home-report-img"></div>
									<div class="blog_item_date">
										@{
											string date = report.CreatedOn.ToString("MMMM");
										}
										<h3>@report.CreatedOn.Day.ToString("00")</h3>
										<p>@date</p>
									</div>
								</div>

								<div class="blog_details">
									<a class="d-inline-block" asp-controller="Reports" asp-action="Details" asp-route-reportId="@report.Id">
										<h2>@report.Name</h2>
									</a>
									<p class="rp-quote">
										@report.Description
									</p>

								</div>
							</article>

						</div>
					</div>
				}
			</div>
		</div>
	</section>
	<section class="blog_area section-padding">
		<div class="container mycontainer">
			<div class="row">
				<div class="col-xl-12">
					<div class="section_title text-center mb-50">
						<h3>Newest reports</h3>
					</div>
				</div>
				@foreach (var report in Model.New)
				{
					<div class="col-lg-4 mb-5 mb-lg-0">
						<div class="blog_left_sidebar">

							<article class="blog_item">
								<div class="blog_item_img">
									<div style="background-image:url('../img/reports/@report.ImagePath')" class="home-report-img"></div>
									<div class="blog_item_date">
										@{
											string date = report.CreatedOn.ToString("MMMM");
										}
										<h3>@report.CreatedOn.Day.ToString("00")</h3>
										<p>@date</p>
									</div>
								</div>

								<div class="blog_details">
									<a class="d-inline-block" asp-controller="Reports" asp-action="Details" asp-route-reportId="@report.Id">
										<h2>@report.Name</h2>
									</a>
									<p class="rp-quote">
										@report.Description
									</p>

								</div>
							</article>

						</div>
					</div>
				}
			</div>
		</div>
	</section>
	<!-- Team -->

	<div class="team_area">
		<div class="container">
			<div class="border_bottom">
				<div class="row">
					<div class="col-xl-12">
						<div class="section_title mb-40 text-center">
							<h3>
								Top authors
							</h3>
						</div>
					</div>
				</div>
				<div class="row">
					@foreach (var author in Model.Authors)
					{
						<div class="col-xl-4 col-lg-4 col-md-6">
							<div class="single_team">
								<div class="team_thumb">
									<div style="background-image:url('/img/team/@author.ImagePath')" class="author-photo"></div>
								</div>
								<div class="team_info text-center">
									<a asp-controller="Authors" asp-action="Details" asp-route-searchString="@author.Name" asp-route-userId="@author.Id"><h3>@author.Name</h3></a>

								</div>
							</div>
						</div>
					}

				</div>
			</div>
		</div>
	</div>



	@await Component.InvokeAsync("NToastNotify")
	<script src="~/js/vendor/jquery-1.12.4.min.js"></script>
	<script src="~/js/truncate-text.js"></script>
	<script>
		$(document).ready(function () {
			$("#carousel-indicators1 li:first").addClass("active");
			$("#carousel-inner1 .carousel-item:first").addClass("active");
		});
		$(document).ready(function () {
			$("#carousel-indicators2 li:first").addClass("active");
			$("#carousel-inner2 .carousel-item:first").addClass("active");
		});
		$(document).ready(function () {
			$("#carousel-indicators3 li:first").addClass("active");
			$("#carousel-inner3 .carousel-item:first").addClass("active");
		});
	</script>
</body>

</html>