﻿@{
    Layout = "_EmptyLayout";
    ViewData["Title"] = "InsightHub | Forbidden";
}

<head>
    <link href="~/css/page-not-found.css" rel="stylesheet" />
</head>
<div class="container forbidden">
</div>
